body{
    margin: 0 auto;
    width: 1000px;
}

.red{
    color: red;
}

#main-wrapper{
    float: left;
    width: 100%;
    height: 100%;
}

#main-block{
    width: 100%;
    height: 100%;
}

.med-textblock{
    min-height: 200px;
}

.sm-textblock{
    min-height: 100px;
}

.width-full{
    width: 1000px;
}

.width-half{
    width: 495px;
    margin-right: 5px;
}

.profile{
    width: 246px;
    height: 400px;
    margin: 2px;
    float: left;
}

.center-text{
    text-align: center;
}

.highlight-dropdown{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    
    background-color: #DDDDDD;
    border: 1px solid black;

    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);

	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.25s ease-out;
	-o-transition: -o-transform 0.25s ease;
	-ms-transition: -ms-transform 0.25s ease;
	transition: transform 0.25s ease;
}

.highlight-para-instructions{
    background-color: #00CC00;
    padding: 5px;
    padding-top: 15px;
    font-size: 12px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
}

.relative.instructions:hover .highlight-dropdown{
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

.relative{
    position: relative;
}