body{
    margin: 0 auto;
    width: 1000px;
}

.red{
    color: red;
}

#main-wrapper{
    float: left;
    width: 100%;
    height: 100%;
}

#main-block{
    width: 100%;
    height: 100%;
}

.med-textblock{
    min-height: 200px;
}

.sm-textblock{
    min-height: 100px;
}

.width-full{
    width: 1000px;
}

.width-half{
    width: 495px;
    margin-right: 5px;
}

.profile{
    width: 246px;
    height: 400px;
    margin: 2px;
    float: left;
}

.center-text{
    text-align: center;
}