body{
    margin: 0 auto;
    width: 1000px;
}

.red{
    color: red;
}

#main-wrapper{
    float: left
}

.profile{
    box-sizing: border-box;
    width: 247px;
    height: 400px;
    border: 1px solid #00f;
    margin: 1px;
    float: left;
    
    background-color: #fff400;
}