#topnav-wrapper{
    margin: 0;
    padding: 0;
}

#topnav-list-wrapper{
    margin: 0 auto;
    float: none;
    display: table;
}

ul#topnav-list{
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.topnav-element{
    float: left;
    text-align: center;
}

a.topnav-link{
    width: 100px;
    display: inline-block;
    padding: 10px;
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-style: bold;
    
    background-color: #888888;
}

a.topnav-link:hover{
    text-decoration: underline;
}

