{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navigation%}
    {{ super() }}
{% endblock %}
{% block main_block %}
<div class="sm-textblock width-full center-text">
    <p> This project was created during the MHacks of fall 2013 by the students listed below. Its purpose is to generate accompanying music for melodies given. <br/>
    
    Enjoy your exploration!
    </p>
</div>

<div class="profile center-text">
<h3>Avery</h3>
Hi! I am a sophomore at the University of Michigan where I am studying Computer Science in the College of Engineering (CS-ENG).  You can find out more about me at my <a href="http://averyjfischer.com">website</a>
</div>
<div class="profile center-text">
<h3>Charlie</h3>
</div>
<div class="profile center-text">
<h3>Shu</h3>
</div>
<div class="profile center-text">
<h3>Vikas</h3>
</div>
{% endblock %}