{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navigation%}
    {{ super() }}
{% endblock %}
{% block main_block %}
<!-- dropdown menu for selecting a MIDI output -->
<select id="outputs"></select>

<!-- display keyboard mapping -->
<div id="help-message"></div>

<!-- MIDI messages get displayed here -->
<div id="messages">Please select a MIDI output<br/></div>

<!-- Bar Nums -->
<div id="barNum" style="font-size: 200%"><br/></div>

<table class="example">
    <tr>
        <td><div id="metronome_container"></div></td>
        <td><div class="status"></div></td>
    </tr>
    <tr>
        <td colspan=2 id="inputs"></td>
    </tr>
</table>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="{{ url_for('static', filename='metronome.js') }}"></script>
<script>
    /*global $ Raphael soundManager metronome*/

    function tick(t) {
        // $("<div />").html(t % 2 === 1 ? "Tick" : "Tock").addClass("statusline").appendTo(".status");
        // $("#count").html(t);
    }

    function done() {
    // $("<div />").html("Done!").addClass("statusline").css("background-color", "#FFFF99").appendTo(".status");
         $("#startstop").html("start");
    }

    var paper = Raphael("metronome_container", 200, 200);

    var m = metronome({
        len: 200,
        angle: 20,
        tick: tick,
        complete: done,
        paper: paper,
        audio: "https://github.com/wilson428/metronome/blob/master/tickk.wav?raw=true"
    });

    m.make_input("#inputs");

    m.shapes().outline.attr("fill", "#00A30F");
    m.shapes().arm.attr("stroke", "#EEE");
</script>
{% endblock %}