{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='MIDIBridge.js') }}"></script>     
    <script type="text/javascript" src="{{ url_for('static', filename='MIDIDeviceSelector.js') }}"></script>     
    <script type="text/javascript" src="{{ url_for('static', filename='computer-keyboard.js') }}"></script>
    <!--<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='midibridge.css') }}"/>-->
{% endblock %}
{% block navigation%}
    {{ super() }}
{% endblock %}
{% block main_block %}
<div class="relative instructions">
    <p class="highlight-para-instructions center-text">Help</p>
    <div class="width-half highlight-dropdown">
    To make a recording, use Keys: &lt;insert here&gt; . Press &lt;&gt; when done.<br/>
    If the applet does not run, try lowering your java security settings in the java control panel.
    </div>
</div>
<div class="center-text">
    Code to go here.
</div>

{% endblock %}