<!doctype html>
<html>
    {% block head %}
    <head>
        <title> {% block title %}Home{% endblock %} - The Chordinator </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    {% endblock %}
    <body>
        {% block navigation%}
        <div id="topnav-wrapper">
            <div id="topnav-list-wrapper">
                <ul id="topnav-list">
                    <li class="topnav-element"><a class="topnav-link" href="http://google.com">Google</a></li>
                </ul>
            </div>
        </div>
        {% endblock %}
        <div id="main-wrapper">
            <div id="main-block">
            {% block main_block %}
            
            {% endblock %}
            </div>
        </div>
    </body>
</html>