{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notebox.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='HTML5piano-master/html5piano.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
{% endblock %}
{% block navigation %}
    {{ super() }}
{% endblock %}
{% block main_block %}
    <div id="note-grid">
    {% for row in range(11,-1,-1): %}
        <div class="note-row">
        {% for col in range(16): %}
            <input type="checkbox" id="c-{{row}}-{{col}}" name="cc" class="note note-{{row}}" />
            <label for="c-{{row}}-{{col}}"></label>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    <input id="tempo" value=140></input>
    <button onClick="dumpData()">Generate Chords</button>
    <button onClick="clearData()">Reset</button>
    <div id="piano"></div>
{% endblock %}
