<!doctype html>
<html>
    <head>
        <title>The Chordinator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
        <script type="text/javascript" src="{{ url_for('static', filename='MIDIFileChooser.js) }}"></script>     
        <script type="text/javascript" src="{{ url_for('static', filename='MIDIProgramSelector.js) }}"></script>     
        <script type="text/javascript" src="{{ url_for('static', filename='Slider.js) }}"></script>     
        <script type="text/javascript" src="{{ url_for('static', filename='MIDIBridge.js') }}"></script>     
        <script type="text/javascript" src="{{ url_for('static', filename='MIDIDeviceSelector.js') }}"></script>     
        <script type="text/javascript" src="{{ url_for('static', filename='play-midifile.js') }}"></script>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='reset.css') }}"/>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='midibridge.css') }}"/>
    </head>
    <body>
        <div id="content">
            <input id="choose-file" type="file" />
            
            <!-- buttons for controlling the playback -->
            <div id="controls">
                <div id="btn-play" class="button">PLAY</div>
                <div id="btn-pause" class="button">PAUSE</div>
                <div id="btn-stop" class="button">STOP</div>
            </div>
            
            <!-- dropdown menu for selecting a MIDI output -->
            <select id="outputs"></select>

            <!-- dropdown menu for selecting a program (instrument) -->
            <select id="programs"></select>
            
            <!-- last incoming MIDI message gets displayed here -->
            <div id="last-message"></div>
            
            <!-- song position slider -->
            <div id="position" class="slider">
                <div class="thumb">
                    <div class="label"></div>
                </div>
            </div>
            
            <!-- displays the MIDI file that has been chosen by the file chooser -->
            <div id="info">no MIDI file loaded</div>
        </div>
    </body>
</html>
